.columns{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 12px;
    background-color: red;

}
.calc{
    width: 311px;
    height: 40px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vh;
    background-color: blue;
    padding: 5px;
    margin: 12px;
}

.row{
    display: flex;
    flex-direction: column;
}
.number{
    padding: 17px;
    margin: 7px;
}
